.ingredient-list-form {
  width: 45%;
  margin: 0.5%;
  padding: 1%;
  flex: 1;
  background-color: #B54A48;
}

.ingredient-submit {
  width: 50%;
  height: 40px;
  margin: 1.5%;
  padding: 0.5%;
  flex: 1 2;
  background-color: #9B6C6B;
  font-size: 18px;
}

/* IngredientCheckBox */
.ingredient-list-form .check-box {
  display: flex;
  padding-left: 15px;
  text-indent: -15px;
  margin: 1.5%;
}

/* Recipes */
.right-column {
  width: 45%;
  margin: 0.5%;
  padding: 1%;
  flex: 1;
  background-color: lightblue;
}
