
.app {
  padding: '35px'
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-create-recipe {
  width: 10%;
  height: 2em;
}

.input {
  display: flex;
  margin: 0.5%;
}

label {
  margin: 0.5%;
  display: flex;
}

.input-field {
  display: block;
  align-self: center;
}

.ingredient-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ingredient-list-div {
  width: 45%;
  margin: 0.5%;
  padding: 1%;
  flex: 1;
  background-color: #B54A48;
}

.ingredient-submit {
  width: 50%;
  height: 40px;
  margin: 1.5%;
  padding: 0.5%;
  flex: 1 2;
  background-color: #9B6C6B;
  font-size: 18px;
}

/* IngredientCheckBox */
.ingredient-list-form .check-box {
  display: flex;
  padding-left: 15px;
  text-indent: -15px;
  margin: 1.5%;
}

.filter-ingredients {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  text-indent: -15px;
  margin: 1.5%;
}

/* Recipes */
.right-column {
  width: 45%;
  margin: 0.5%;
  padding: 1%;
  flex: 1;
  background-color: lightblue;
}


/* NavBar CSS */
.navbar {
  width: 98%;
  padding: 1%;
  margin: 1%;
}

.navlink {
  width: 100%;
  padding: 1%;
  margin: 1%;
  color: grey;

}
